.container{
    padding: 20px;
    width: 80%;
    min-width: 700px;
    max-width: 750px;
    margin: auto;
}

.image-container{
    float: right;
}

.image{
    background-image: url("images/register.png");
    width: 330px;
    height:330px;
}

.right-link{
    width: 330px;
    height:330px;
    text-align: center;
    float: right;
}

.right-link a{
    color:rgb(68, 76, 83);
}

.input-container{
    line-height: 60px;
}

.input{
    width: 40%;
    height: 25px;
    border: 1px solid slategray;
    border-width: 0 0 1px 0 ;
}

.input-container ::placeholder{
    color: rgb(68, 76, 83);
    opacity: 0.8;
}

.tos_agreement{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
    color: rgb(68, 76, 83);
}

.tos_agreement input{
    height: 16px;
    width: 16px;
}

.register-button{
    margin-left: 15%;
    padding: 10px;
    width: 100px;
    background: skyblue  ;
    border-radius: 4px;
    color: white;
    font-weight: bolder;
    border-width: 0px;
}

